.card {
	&__contacts {
		background: #17a085;
		color: #fff;
		padding: 30px 30px 40px;
		margin-top: 15px;
		&-title {
			font-size: 1.5em;
			font-weight: 700;
			margin-bottom: 20px;
		}
		&-table {
			td {
				vertical-align: top;
				&:first-of-type {
					width: 80px;
					text-align: right;
					padding-right: @padding;
				}
			}
		}
		a {
			color: #dfdfdf;
			text-decoration-color: #fff;
			&:hover {
				color: #fff;
				text-decoration-color: #fff;
			}
		}
	}
	&__person {
		margin-top: 5em;
		&-photo {
			img {
				max-width: 208px;
				@media screen and (max-width: 767px) {
					max-width: 100%;
				}
			}
		}
		&-post {
			color: #9fa3b0;
			margin: 20px 0 12px;
			font-size: 1em;
		}
		&-name {
			font-size: 1.125em;
		}
	}
}