.header {
	&-site {
		background-color: #333;
		color: #fff;
		user-select: none;
	}
	&-top {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		&-title {
			display: flex;
			align-items: center;
			padding-right: @padding;
			&-image {
				padding-right: @padding;
			}
			&-title {
				font-weight: 700;
				font-size: 1.4em;
				text-transform: uppercase;
			}
		}
		&-bvi {
			margin-top: 18px;
			.btn {
				color: #a7a7a7;
				font-size: 1em;
				transition: color .3s ease;
				i {
					&::before {
						transform: scale(1.0);
						transform-origin: center center;
						transition: transform .3s ease;
					}
				}
				&:hover {
					color: #fff;
					transform: scale(1.1);
					i {
						&::before {
							transform: scale(1.1);
						}
					}
				}
			}
		}
	}
}