.header {
	&-site {
		background-color: #333;
		color: #fff;
		user-select: none;
	}
	&-top {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		&-title {
			display: flex;
			align-items: center;
			padding-right: @padding;
			&-image {
				padding-right: @padding;
				img {
					width: 64px;
					height: 64px;
					min-width: 64px;
					min-height: 64px;
					max-width: 64px;
					max-height: 64px;
					object-fit: contain;
					object-position: center;
				}
			}
			&-title {
				font-weight: 700;
				font-size: 1.3em;
				text-transform: uppercase;
			}
			@media screen and (max-width: 1009px) {
				align-items: flex-start;
				&-image {
					margin-top: 25px;
				}
			}
		}
		&-bvi {
			margin-top: 18px;
			.btn {
				color: #a7a7a7;
				font-size: 1em;
				transition: color .3s ease;
				i {
					&::before {
						transform: scale(1.0);
						transform-origin: center center;
						transition: transform .3s ease;
					}
				}
				&:hover {
					color: #fff;
					transform: scale(1.1);
					i {
						&::before {
							transform: scale(1.1);
						}
					}
				}
			}
		}
		@media screen and (max-width: @mediaTitle) {
			flex-direction: column;
			&-title {
				flex-direction: column;
				&-image {
					padding-right: unset;
					margin-bottom: unset;
				}
			}
			&-bvi {
				margin-top: unset;
				margin-bottom: @padding;
				text-align: right;
				margin-left: auto;
			}
		}
	}
	&-nav {
		@media screen and (max-width: @mediaNav) {
			> .container {
				padding-left: unset;
				padding-right: unset;
			}
		}
	}
}