.baner.main-baner
	noindex
		div#js-show-iframe-wrapper
			div.pos-banner-fluid.bf-12
				div.bf-12__decor
					div.bf-12__logo-wrap
						img.bf-12__logo(src='https://pos.gosuslugi.ru/bin/banner-fluid/gosuslugi-logo-blue.svg' alt='Госуслуги')
						div(class='bf-12__slogan')
							|Решаем вместе
				div.bf-12__content
					div.bf-12__text
						|Не смогли записаться к врачу?
					div.bf-12__bottom-wrap
						div.bf-12__btn-wrap
							// pos-banner-btn_2 не удалять; другие классы не добавлять
							button.pos-banner-btn_2(type='button')
								|Написать о проблеме