.card
	.card__contacts
		.card__contacts-title
			|Контакты
		table.card__contacts-table
			tbody
				tr
					td Адрес:
					td [(map_addres:notags)]
				tr
					td Телефон:
					td [(map_phones:notags:nl2br)]
				tr
					td E-Mail:
					td(style="word-break: break-all;")
						a(href="mailto:[(map_email:notags)]")
							|[(map_email:notags)]
	.card__person
		.card__person-photo
			a(href="[~4~]")
				img(src!="[[phpthumb? &input=`[(director_photo)]` &options=`w=150,f=jpg`]]" style="max-width: 150px;")
		.card__person-post
			|Директор
		.card__person-name
			a(href="[~4~]")
				|[(director:notags:nl2br)]