.card
	.card__contacts
		.card__contacts-title
			|Контакты
		table.card__contacts-table
			tbody
				tr
					td Адрес:
					td 420021, г.Казань, ул.Габдуллы Тукая, д.67
				tr
					td Телефон:
					td +7 (843) 293-48-21
				tr
					td E-Mail:
					td mz.rezerv@tatar.ru
	.card__person
		.card__person-photo
			a(href="/index.htm/person-info")
				img(src="//tatarstan.ru//file/photo_25005.jpg" style="max-width: 150px;")
		.card__person-post
			|Директор
		.card__person-name
			a(href="/index.htm/person-info")
				|Шарипов Ильдар
				br
				|Салимзянович