.card
	.card__contacts
		.card__contacts-title
			|Контакты
		.card__contacts-table
			dl.dl-horizontal
				dt Адрес:
				dd [(map_addres:notags)]
				dt Телефон:
				dd [(map_phones:notags:nl2br)]
				dt E-Mail:
				dd(style="word-break: break-all;")
						a(href="mailto:[(map_email:notags)]")
							|[(map_email:notags)]
	.card__person
		.card__person-photo
			a(href="[~2~]")
				img(src!="[[phpthumb? &input=`[(director_photo)]` &options=`w=370,h=494,zc=C,f=jpg`]]")
		.card__person-post
			|Директор
		.card__person-name
			a(href="[~2~]")
				|[(director:notags:nl2br)]