meta(name="msapplication-square70x70logo" content="[(site_url)]windows-tile-70x70.png?ts=1672259238094")
meta(name="msapplication-square150x150logo" content="[(site_url)]windows-tile-150x150.png?ts=1672259238094")
meta(name="msapplication-square310x310logo" content="[(site_url)]windows-tile-310x310.png?ts=1672259238094")
meta(name="msapplication-TileImage" content="[(site_url)]windows-tile-144x144.png?ts=1672259238094")
meta(name="msapplication-TileColor" content="")
link(rel="apple-touch-icon-precomposed" sizes="152x152" href="[(site_url)]apple-touch-icon-152x152-precomposed.png?ts=1672259238094")
link(rel="apple-touch-icon-precomposed" sizes="120x120" href="[(site_url)]apple-touch-icon-120x120-precomposed.png?ts=1672259238094")
link(rel="apple-touch-icon-precomposed" sizes="76x76" href="[(site_url)]apple-touch-icon-76x76-precomposed.png?ts=1672259238094")
link(rel="apple-touch-icon-precomposed" sizes="60x60" href="[(site_url)]apple-touch-icon-60x60-precomposed.png?ts=1672259238094")
link(rel="apple-touch-icon-precomposed" sizes="144x144" href="[(site_url)]apple-touch-icon-144x144-precomposed.png?ts=1672259238094")
link(rel="apple-touch-icon-precomposed" sizes="114x114" href="[(site_url)]apple-touch-icon-114x114-precomposed.png?ts=1672259238094")
link(rel="apple-touch-icon-precomposed" sizes="72x72" href="[(site_url)]apple-touch-icon-72x72-precomposed.png?ts=1672259238094")
link(rel="apple-touch-icon" sizes="57x57" href="[(site_url)]apple-touch-icon.png?ts=1672259238094")
link(rel="icon" sizes="228x228" href="[(site_url)]coast-icon-228x228.png?ts=1672259238094")
link(rel="shortcut icon" href="[(site_url)]favicon.ico?ts=1672259238094")
link(rel="icon" type="image/png" sizes="64x64" href="[(site_url)]favicon.png?ts=1672259238094")
