footer.footer
	.container.clearfix
		.row
			.columns
				.col-md-8.footer-title
					p.footer-title-image
						img(alt="" src!="[[phpthumb? &input=`[(logotype)]` &options=`w=64,h=64,f=png`]]")
					p.footer-title-text
						|[(company_name:notags)]
				.col-md-4.footer-addres
					dl.footer-dl
						dt
							|Адрес:
						dd
							|[(map_addres:notags:nl2br)]
						dt
							|Телефон:
						dd
							|[(map_phones:notags:nl2br)]
						dt
							|Email:
						dd(style="word-break: break-all;")
							a(href="mailto:[(map_email:notags:nl2br)]")
								|[(map_email:notags:nl2br)]
				.col-md-12.footer-copyright
					p.text-center
						|[(site_name)] &copy; [!$_SERVER['REQUEST_TIME']:dateFormat='Y'!]г.
	p.developed
		|Developed by:  
		a(href="https://projectsoft.ru/" target="_blank")
			|ProjectSoft