head
	title
		|[*titl*]
	base(href!="[(site_url)]")
	meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=EmulateIE9")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(name="cmsmagazine" content="d8e7426ec72ad3e4ea38b09ebf01284")
	meta(name="SKYPE_TOOLBAR" content ="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
	meta(name="yandex-verification" content="[(yandex_verification)]")
	|[*noIndex*]
	// Favicons
	meta(name="apple-mobile-web-app-title" content="[(site_name:hsc)]")
	meta(name="application-name" content="[(site_name:hsc)]")
	|{{@FILE assets/templates/projectsoft/html/tpl/favicon.html}}
	// Seo
	link(rel="canonical" href!="[(site_url)][~[*id*]~]")
	meta(name="title" content="[*pagetitle:hsc:notags*]")
	meta(name="description" content="[*desc:hsc:notags*]")
	meta(name="keywords" content="[*keyw:hsc:notags*]")
	meta(name="author" content="[(site_name:hsc)]")
	link(rel="alternate" type="application/rss+xml" title="RSS [(site_name:hsc)]" href!="[(site_url)][~2~]")
	meta(name="og:title" content="[*pagetitle:hsc:notags*]")
	meta(name="og:description" content="[*desc:hsc:notags*]")
	// og images
	|
	|[[ogImage]]
	|{{@FILE assets/templates/projectsoft/html/tpl/style.html}}