head
	title
		|[*titl*]
	base(href=base)
	meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=EmulateIE9")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(name="cmsmagazine" content="d8e7426ec72ad3e4ea38b09ebf01284")
	meta(name="SKYPE_TOOLBAR" content ="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
	meta(name="yandex-verification" content="[(yandex_verification)]")
	|[*noIndex*]
	// Favicons
	meta(name="apple-mobile-web-app-title" content="[(site_name)]")
	meta(name="application-name" content="[(site_name)]")
	include ../inc/favicon.pug
	// Seo
	link(rel="canonical" href!="[!getFullUrl? &arr=`` &id=`[*id*]`!]")
	meta(name="title" content="[*pagetitle:hsc:notags*]")
	meta(name="description" content="[*desc:hsc:notags*]")
	meta(name="keywords" content="[*keyw:hsc:notags*]")
	meta(name="author" content="[(site_name)]")
	link(rel="alternate" type="application/rss+xml" title="RSS " + site_name href!="[!getFullUrl? &arr=`` &id=`2`!]")
	meta(name="og:title" content="[*pagetitle:hsc:notags*]")
	meta(name="og:description" content="[*desc:hsc:notags*]")
	// og images
	|
	|[[ogImage]]
	// Style
	include ../inc/style.pug
	// Дополнительные стили
	style(type="text/css")
		|[(dop_styles)]