// JavaScripts
script(type="text/javascript" src="[(site_url)]assets/templates/projectsoft/js/appjs.min.js?" + hash)
script(type="text/javascript" src="[(site_url)]assets/templates/projectsoft/js/main.min.js?" + hash)
script(src="https://api-maps.yandex.ru/2.1/?apikey=[(map_apykey)]&lang=ru_RU&onload=mapInit&coordorder=latlong" type="text/javascript")
|[(dop_scripts)]