test
tests
node_modules
bower_components
*-lock.json
*.sublime-workspace
install
site/*.png
site/*.ico
site/*.webmanifest
site/install
site/manager
site/vendor
site/.editorconfig
site/*.json
site/ht.access
site/.htaccess
site/*.php
site/*.md
site/*.txt


# assets dirs
site/assets/.thumbs
site/assets/thumbs
site/assets/backup
site/assets/cache
site/assets/export
site/assets/files
site/assets/images
site/assets/import
site/assets/js
site/assets/lib
site/assets/modules
site/assets/snippets

# assets plugins
site/assets/plugins/*.*
site/assets/plugins/c*
site/assets/plugins/e*
site/assets/plugins/f*
site/assets/plugins/m*
site/assets/plugins/q*
site/assets/plugins/tr*
site/assets/plugins/u*

# assets plugins tinymce4
site/assets/plugins/tinymce4/b*
site/assets/plugins/tinymce4/c*
site/assets/plugins/tinymce4/g*
site/assets/plugins/tinymce4/i*
site/assets/plugins/tinymce4/c*
site/assets/plugins/tinymce4/l*
site/assets/plugins/tinymce4/p*
site/assets/plugins/tinymce4/s*
site/assets/plugins/tinymce4/t*

# assets plugins pagebuilder
site/assets/plugins/pagebuilder/i*
site/assets/plugins/pagebuilder/j*
site/assets/plugins/pagebuilder/l*
site/assets/plugins/pagebuilder/p*
site/assets/plugins/pagebuilder/s*
site/assets/plugins/pagebuilder/t*
site/assets/plugins/pagebuilder/config/*.sample

# assets site
site/assets/site

# assets tvs
site/assets/tvs/*.html

# assets tvs multitv
site/assets/tvs/multitv/*.*
site/assets/tvs/multitv/b*
site/assets/tvs/multitv/cs*
site/assets/tvs/multitv/d*
site/assets/tvs/multitv/i*
site/assets/tvs/multitv/j*
site/assets/tvs/multitv/l*
site/assets/tvs/multitv/p*
site/assets/tvs/multitv/s*
site/assets/tvs/multitv/t*
site/assets/tvs/multitv/m*
site/assets/tvs/multitv/u*
site/assets/tvs/multitv/configs/c*
site/assets/tvs/multitv/configs/d*
site/assets/tvs/multitv/configs/e*
site/assets/tvs/multitv/configs/i*
site/assets/tvs/multitv/configs/l*
site/assets/tvs/multitv/configs/m*
site/assets/tvs/multitv/configs/s*

# assets tvs pagebuilder
site/assets/tvs/pagebuilder

# assets vendor and assets templates
site/assets/vendor
site/assets/*.html
site/assets/templates/*.html
site/assets/templates/projectsoft/c*
site/assets/templates/projectsoft/f*
site/assets/templates/projectsoft/h*
site/assets/templates/projectsoft/i*
site/assets/templates/projectsoft/j*

# composer and . ext file
site/composer.lock
src/.*

# viewer directory
site/viewer/web/viewer.html
site/viewer/web/viewer.js
site/viewer/web/viewer.js.map

# editorconfig
/.editorconfig

# enabled view files
!site/.htaccess
!site/composer.json
!site/assets/plugins/tinymce4/theme/theme.tinymce4.rezerv.inc.php
!site/assets/tvs/multitv/configs/ps*
