test
tests
node_modules
bower_components
*-lock.json
*.sublime-workspace
site/*.png
site/*.ico
site/*.webmanifest
site/install
site/manager
site/vendor
site/.editorconfig
site/*.json
site/ht.access
site/.htaccess
site/*.php
site/*.md
site/*.txt
site/assets/.thumbs
site/assets/backup
site/assets/cache
site/assets/export
site/assets/files
site/assets/images
site/assets/import
site/assets/js
site/assets/lib
site/assets/modules
site/assets/plugins
site/assets/site
site/assets/snippets
site/assets/tvs
site/assets/vendor
site/assets/*.html
site/assets/templates/*.html
site/assets/templates/projectsoft/*.html
site/assets/templates/projectsoft/css
site/assets/templates/projectsoft/fonts
site/assets/templates/projectsoft/html
site/assets/templates/projectsoft/images
site/assets/templates/projectsoft/js
site/assets/templates/projectsoft/*.html
site/assets/templates/projectsoft/develop/*.html