test
tests
node_modules
bower_components
*-lock.json
*.sublime-workspace
site/*.png
site/*.ico
site/*.webmanifest
site/install
site/manager
site/vendor
site/.editorconfig
site/*.json
site/ht.access
site/.htaccess
site/*.php
site/*.md
site/*.txt
site/assets/.thumbs
site/assets/backup
site/assets/cache
site/assets/export
site/assets/files
site/assets/images
site/assets/import
site/assets/js
site/assets/lib
site/assets/modules
site/assets/plugins/*.*
site/assets/plugins/codemirror
site/assets/plugins/elementsintree
site/assets/plugins/extrascheck
site/assets/plugins/filemanageropen
site/assets/plugins/filesource
site/assets/plugins/forgotmanagerlogin
site/assets/plugins/managermanager
site/assets/plugins/qm
site/assets/plugins/transalias
site/assets/plugins/updater
site/assets/plugins/tinymce4/*.*
site/assets/plugins/tinymce4/gsettings
site/assets/plugins/tinymce4/lang
site/assets/plugins/tinymce4/style
site/assets/plugins/tinymce4/tinymce
site/assets/plugins/tinymce4/tpl
site/assets/plugins/tinymce4/theme/*.*
site/assets/site
site/assets/snippets
site/assets/tvs
site/assets/vendor
site/assets/*.html
site/assets/templates/*.html
site/assets/templates/projectsoft/*.html
site/assets/templates/projectsoft/css
site/assets/templates/projectsoft/fonts
site/assets/templates/projectsoft/html
site/assets/templates/projectsoft/images
site/assets/templates/projectsoft/js
site/assets/templates/projectsoft/*.html
site/assets/templates/projectsoft/develop/*.html
site/composer.lock
!site/composer.json
!site/assets/plugins/tinymce4/theme/theme.tinymce4.rezerv.inc.php
