::selection{
	background-color: var(--bg-select);
	color: var(--bg-select-color);
}
* {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
a {
	color: #818181;
	text-decoration: underline;
	text-decoration-color: var(--color);
	text-decoration-style: solid;
	transition: color .3s ease;
	&:hover {
		color: #000;
	}
}
* {
	&,
	&::before,
	&::after {
		box-sizing: border-box;
	}
}
body {
	background-color: var(--bg-color);
	color: var(--color);
	font-family: "Roboto", "PT Sans", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	&.mce-content-body {
		padding-left: @padding;
		padding-right: @padding;
	}
}
img {
	max-width: 100%;
}
