::selection{
	background-color: var(--bg-select);
	color: var(--bg-select-color);
}
a {
	color: #818181;
	text-decoration: underline;
	text-decoration-color: var(--color);
	text-decoration-style: solid;
	&:hover {
		color: #000;
	}
}
* {
	&,
	&::before,
	&::after {
		box-sizing: border-box;
	}
}
body {
	background-color: var(--bg-color);
	color: var(--color);
	font-family: "PT Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	&.mce-content-body {
		padding-left: @padding;
		padding-right: @padding;
	}
}
