doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")
	// Шаблон «Default»
	|
	|{{@FILE assets/templates/projectsoft/html/tpl/head.html}}
	body
		.bodywrapp
			|{{@FILE assets/templates/projectsoft/html/tpl/header.html}}
			main.main
				p
					|Text
			footer.footer
				p
					|Text
		include inc/javascript.pug