doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")
	// Шаблон «Главная страница»
	|
	|{{@FILE assets/templates/projectsoft/html/tpl/head.html}}
	body
		.bodywrapp
			|{{@FILE assets/templates/projectsoft/html/tpl/header.html}}
			main.main
				.container.clearfix
					|{{@FILE assets/templates/projectsoft/html/tpl/baner.html}}
					.main-section
						.main-article
							.row
								.columns
									.col-md-8
										.column-left-block
											.main-header
												h1
													|[*longtitle*]
											.main-content
												|[*content*]
									.col-md-4.sidebar-wrapp
										|{{@FILE assets/templates/projectsoft/html/tpl/card_contact.html}}
			footer.footer
				.container.clearfix
					p
						|Footer
		include inc/javascript.pug