doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")
	// Шаблон «Главная страница»
	|
	|{{@FILE assets/templates/projectsoft/html/tpl/head.html}}
	body
		.bodywrapp
			.header
				.container.clearfix
					p
						|Header
			.main
				.container.clearfix
					|[*content*]
			.footer
				.container.clearfix
					p
						|Footer