doctype html
html(lang="ru-Ru" prefix="og: http://ogp.me/ns#")
	// Шаблон «Главная страница»
	|
	|{{@FILE assets/templates/projectsoft/html/tpl/head.html}}
	body
		.bodywrapp
			|{{@FILE assets/templates/projectsoft/html/tpl/header.html}}
			main.main
				.container.clearfix
					|{{@FILE assets/templates/projectsoft/html/tpl/baner.html}}
					.main-section
						.main-article
							.row
								.columns
									.col-md-8
										.column-left-block
											.main-header
												h1
													|[*longtitle*]
											.main-content
												|[*content*]
									.col-md-4.sidebar-wrapp
										|{{@FILE assets/templates/projectsoft/html/tpl/card_contact.html}}
						.main-map
							#map(data-point="[(map_point)]" data-addres="[(map_addres)]" data-phones="[(map_phones)]" data-email="[(map_email)]" data-zoom="[(map_zoom)]")
			|{{@FILE assets/templates/projectsoft/html/tpl/footer.html}}
		include inc/javascript.pug