doctype html
html(lang="ru-Ru" prefix="og: http://ogp.me/ns#")
	// Шаблон «404 Not Found»
	|
	|{{@FILE assets/templates/projectsoft/html/tpl/head.html}}
	body
		.bodywrapp
			|{{@FILE assets/templates/projectsoft/html/tpl/header.html}}
			main.main
				.container.clearfix
					|{{@FILE assets/templates/projectsoft/html/tpl/baner.html}}
					.main-section
						article.main-article
							header.main-header
								h1
									|<@IF:[*longtitle:isnot('')*]>[*longtitle*]<@ELSE>[*pagetitle*]<@ENDIF>
							.main-content
								|[*content*]
			|{{@FILE assets/templates/projectsoft/html/tpl/footer.html}}
		include inc/javascript.pug