doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")
	// Шаблон «404 Not Found»
	|
	|{{@FILE assets/templates/projectsoft/html/tpl/head.html}}
	body
		.bodywrapp
			|{{@FILE assets/templates/projectsoft/html/tpl/header.html}}
			main.main
				.container.clearfix
					|{{@FILE assets/templates/projectsoft/html/tpl/baner.html}}
					.main-section
						.main-article
							.main-header
								h1
									|[*longtitle*]
							.main-content
								|[*content*]
			footer.footer
				.container.clearfix
					p
						|Footer
		include inc/javascript.pug