doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")
	// Шаблон «401 Unauthorized»
	|
	|{{@FILE assets/templates/projectsoft/html/tpl/head.html}}
	body
		.bodywrapp
			header.header
				p
					|Text
			main.main
				p
					|Text
			footer.footer
				p
					|Text
		include inc/javascript.pug